@{
    ViewData["Title"] = "Order";
}
@model List<Shop_R_Us.Models.Product>

@{
    //TODO convert select to datalist
}


<div class="panel panel-danger">
    <div class="panel-body">@ViewBag.Msg</div>
</div>

<div class="container">
    <form method="post">
        <select id="currentProduct" name="currentProduct" placeholder="=Select-">
            @foreach (Product p in Model)
            {
                <option value="@p.Id">
                    @p.ProductName
                </option>
            }
        </select>
        <input type="submit" value="Add to Cart" class="btn-primary" id="addToCartBttn" name="addToCartBttn" />
    </form>
</div>
