@{
    ViewData["Title"] = "Order";
}
@model List<Shop_R_Us.Models.Product>
Place order here

@{
//TODO add items from db to cart
//TODO remove items from cart
// simulate checkout process

}

<div>
        @try
        {
            foreach (Product p in Model)
            {
                <ul>
                    <li>@p.ProductName</li>
                </ul>             
            }
        } catch(Exception e)
        {
            @e
        }

</div>