@{
    ViewData["Title"] = "Order";
}
@model List<Shop_R_Us.Models.Product>

@{
    //TODO add items from db to cart
    //TODO remove items from cart
    //TODO simulate checkout process
}

    @*<div class="panel panel-info">
        <div class="panel-body">Message to go here</div>
    </div>*@

<div>
    @try
    {
        foreach (Product p in Model)
        {
            <ul>
                <li>@p.ProductName</li>
            </ul>
        }
    }
    catch (Exception e)
    {
        @e
    }

</div>