@{
    ViewData["Title"] = "Cart";
}

@{
    //TODO cart doesn't change after signing out or closing the application
    //TODO show cart subtotal and total
    // TODO unsigned in users can create cart but can't checkout
    //TODO remove items from cart
    //TODO simulate checkout process
    //TODO show quantities of products and eliminate duplication of names
}

<div class="container">
    <ul>
        @{
            List<Product> cart = ViewBag.Cart;
            if (cart != null)
            {
                foreach (Product p in cart)
                {
                    <li>@p.ProductName</li>
                }
            } else
            {
               <span>No items in cart!</span>
            }
        }
    </ul>

</div>