@{
    ViewData["Title"] = "Sign Up";
}
@model Shop_R_Us.ViewModels.CustomerSignUp;

<form asp-controller="Customer" asp-action="SignUp" method="post">
    <div class="form-group">
        <label asp-for="Username">Username: </label>
        <input asp-for="Username" class="form-control-sm" />
        <span asp-validation-for="Username"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password">Password: </label>
        <input asp-for="Password" class="form-control-sm" />
        <span asp-validation-for="Password"></span>
    </div>
    <div class="form-group">
        <label asp-for="Vpassword">Verify Password: </label>
        <input asp-for="Vpassword" class="form-control-sm" />
        <span asp-validation-for="Vpassword"></span>
    </div>
    <input type="submit" value="Submit" class="btn-primary" />
</form>
